:root {
    h1 {
        background-color: #2B90B6;
        background-image: linear-gradient(90deg, #4EC5D4, #105e8b);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        display: inline-block;
    }

    em {
        background-color: #2B90B6;
        background-image: linear-gradient(90deg, #4ed49e, #259d97);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        display: inline-block;
        padding-right: 0.1em;  
    }
    
}